<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign Up</h1>
        <p class="text-xs-center">
          <a routerLink="/login">Have an account?</a>
        </p>
        Backend Errors Here
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <fieldset class="form-group">
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="Username"
              formControlName="username"
            />
          </fieldset>
          <fieldset class="form-group">
            <input
              type="email"
              class="form-control form-control-lg"
              placeholder="Email"
              formControlName="email"
            />
          </fieldset>
          <fieldset class="form-group">
            <input
              type="password"
              class="form-control form-control-lg"
              placeholder="Password"
              formControlName="password"
            />
          </fieldset>
          <div
            *ngIf="username.invalid && (username.dirty || username.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="username.errors?.['required']">Name is required.</div>
          </div>
          <div
            *ngIf="email.invalid && (email.dirty || email.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="email.errors?.['required']">Email is required.</div>
          </div>
          <div
            *ngIf="email.invalid && (email.dirty || email.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="email.errors?.['email']">
              Email must be valid email.
            </div>
          </div>
          <h1>Form Status: {{ form.status }}</h1>
          <button
            type="submit"
            class="btn btn-lg btn-primary pull-xs-right"
            [disabled]="isSubmitting$ | async"
          >
            Sign Up
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
