<ng-container *ngIf="data$ | async as data">
  <div class="auth-page">
    <div class="container page">
      <div class="row">
        <div class="col-md-6 offset-md-3 col-xs-12">
          <h1 class="text-xs-center">{{ constants.topBar.LOGIN }}</h1>
          <p class="text-xs-center">
            <a routerLink="/register">{{ constants.topBar.SIGNUP_LINK }}</a>
          </p>
          <mc-backend-error-messages
            *ngIf="data.backendErrors"
            [backendErrors]="data.backendErrors"
          ></mc-backend-error-messages>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <fieldset class="form-group">
              <input
                type="email"
                class="form-control form-control-lg"
                placeholder="Email"
                formControlName="email"
              />
            </fieldset>
            <fieldset class="form-group">
              <input
                type="password"
                class="form-control form-control-lg"
                placeholder="Password"
                formControlName="password"
              />
            </fieldset>
            <div
              *ngIf="email.invalid && (email.dirty || email.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="email.errors?.['required']">
                {{ constants.errors.REQ_EMAIL }}
              </div>
            </div>
            <div
              *ngIf="email.invalid && (email.dirty || email.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="email.errors?.['email']">
                {{ constants.errors.VALID_EMAIL }}}
              </div>
            </div>
            <h1>Form Status: {{ form.status }}</h1>
            <button
              type="submit"
              class="btn btn-lg btn-primary pull-xs-right"
              [disabled]="data.isSubmitting"
            >
              {{ constants.topBar.LOGIN }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-container>
