<div class="container page">Article page</div>
<!-- <div class="container page">
        <div class="row article-content">
            <div class="col-md-12">
            <h1>{{ article.title }}</h1>
            <mc-article-meta [article]="article"></mc-article-meta>
            </div>
        </div>
    <hr />
    <div class="article-actions">
        <mc-article-actions [article]="article"></mc-article-actions>
    </div>
    <div class="row">
        <div class="col-md-12">
        <p>{{ article.body }}</p>
        <mc-tag-list [tags]="article.tagList"></mc-tag-list>
        </div>
    </div>
    <hr />
    <div class="article-comments">
        <mc-article-comments [slug]="article.slug"></mc-article-comments>
    </div> -->
