<ng-container *ngIf="data$ | async as data">
  <mc-loading *ngIf="data.isLoading"></mc-loading>
  <div *ngIf="data.error">{{ data.error }}</div>
  <mc-error-message
    *ngIf="data.error"
    [message]="data.error"
  ></mc-error-message>
  <div class="sidebar" *ngIf="data.popularTags">
    <div class="tag-list">
      <a
        *ngFor="let tag of data.popularTags"
        class="tag-default tag-pill"
        [routerLink]="['/tags', tag]"
        >{{ tag }}</a
      >
    </div>
  </div>
</ng-container>
