<ng-container *ngIf="data$ | async as data">
  <div class="" settings-page *ngIf="currentUser">
    <div class="container page">
      <div class="row">
        <div class="col-md-6 offset-md-3 col-xs-12">
          <h1 class="text-xs-center">{{ settings.HEADING }}</h1>
          <mc-backend-error-messages
            *ngIf="data.backendErrors"
            [backendErrors]="data.backendErrors"
          ></mc-backend-error-messages>
          <form [formGroup]="form" (ngSubmit)="submit()">
            <fieldset>
              <fieldset class="form-group">
                <input
                  class="form-control form-control-lg"
                  type="text"
                  placeholder="URL of profile picture"
                  formControlName="image"
                />
              </fieldset>
              <fieldset class="form-group">
                <input
                  class="form-control form-control-lg"
                  type="text"
                  placeholder="Username"
                  formControlName="username"
                />
              </fieldset>
              <fieldset class="form-group">
                <textarea
                  class="form-control form-control-lg"
                  rows="8"
                  placeholder="Short bio about you"
                  formControlName="bio"
                ></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input
                  class="form-control form-control-lg"
                  type="text"
                  placeholder="Email"
                  formControlName="email"
                />
              </fieldset>
              <fieldset class="form-group">
                <input
                  class="form-control form-control-lg"
                  type="password"
                  placeholder="New Password"
                  formControlName="password"
                />
              </fieldset>
              <button
                class="btn btn-lg btn-primary pull-xs-right"
                type="submit"
                [disabled]="form.invalid || data.isSubmitting"
              >
                {{ settings.SUBMIT }}
              </button>
            </fieldset>
          </form>
          <hr />
          <button class="btn btn-outline-danger" (click)="logout()">
            {{ settings.LOGOUT }}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
